*
{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url("R.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box   
{
    height: 470px;
    width: 300px;
    /* border: none; */
    background-color: rgba(0, 0, 0,0.6);
    box-shadow: 5px 5px 10px white;
    padding: 5px; 
}

.wea   {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#search
{
    width: 100%;
    height: 50px;
    font-size: 40px;
    color: blue;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: powderblue ;
}

#temp
{
    font-size: 100px;
    text-align: center;
    color: white;
}

.data
{
    font-size:30px;
    text-align: center;
    color: yellow;
}
.deg
{
    font-size: 30px;
    text-align: center;
    color: orange;
}
